<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/coffee-cup.png') }}">
    <!-- theme-color -->
    <meta name="theme-color" content="#6f4c3e">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_css.css') }}">
    <!-- Google fonts link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Coffee Login</title>
</head>

<body
    style="background-image: url(https://raw.githubusercontent.com/CiurescuP/LogIn-Form/main/bg.jpg); background-repeat: no-repeat;">
    <!-- =========================== -->
    <!-- Start Body -->
    <form>
        <h3>Sign In</h3>

        <label for="username">Tài Khoản</label>
        <input type="text" placeholder="Your Phone" id="username">

        <label for="password">Mật Khẩu</label>
        <input type="password" placeholder="Password" id="password">

        <button>Đăng Nhập</button>
        <p class="social-text">Bạn chưa có tài khoản? </p>

        <div class="social-icons">
            <a href="{{ url_for('register.register_page') }}"><button type="button" class="social-icon fb">
                    <i class="fa-solid fa-phone"></i>
                </button>
            </a>
            <button class="social-icon fb" > <!--onclick="loginWithFacebook()"-->
                <i class="fa-brands fa-facebook"></i>
            </button>
            <button class="social-icon tw"><i class="fa-brands fa-google"></i></button>
            <button class="social-icon in"><i class="fa-brands fa-apple"></i></button>

        </div>
        <div style="text-align: center; margin-top: 7px;">
            <a href="{{ url_for('index.index_page') }}" style="text-decoration: none; font-size: 16px; color: white;">
                ⬅ Quay lại trang chủ
            </a>
        </div>
    </form>
    <!-- End Body -->

    <!-- JavaScrip Link -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        
    </script>
</body>

</html>